BasedOnStyle: LLVM
UseTab: Always
IndentWidth: 4
TabWidth: 4

AlignAfterOpenBracket: BlockIndent
PenaltyBreakBeforeFirstCallParameter: 0
BinPackArguments: false
BinPackParameters: false
NamespaceIndentation: All
AccessModifierOffset: -4
