[submodule "slang"]
	path = third_party/slang
	url = https://github.com/silimate/slang
[submodule "third_party/access_private_20"]
	path = third_party/access_private_20
	url = https://github.com/schaumb/access_private_20
[submodule "third_party/ordered-map"]
	path = third_party/ordered-map
	url = https://github.com/Tessil/ordered-map
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "third_party/PicoSHA2"]
	path = third_party/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2
